{% extends "base.html" %}
{% block content %}
<div class="content">
	<div class="post single post-137 page type-page status-publish hentry no-featured-image">
		<div class="post-header section">	
			<div class="post-header-inner section-inner">
				<h1 class="post-title">Area 1: Digital Resources</h1>
			</div>
		</div>				
		<div class="post-content section-inner thin">
			<h1>Browse by topic</h1> 
			<ul> 
				<li><a href="/category/activity_1.1">Search for Open Educational Resources (OER)</a></li> 
				<li><a href="/category/activity_1.2">Modify existing digital content by using Wikis</a></li> 
				<li><a href="/category/activity_1.3">Create digital educational resources</a></li> 
				<li><a href="/category/activity_1.4">Curate and organise digital resources</a></li> 
				<li><a href="/category/activity_1.5">Apply open licenses to your resources</a></li> 
			</ul>
		</div>
	</div>
</div>

{% endblock %}
