{% extends "base.html" %}
{% block content %}
<div class="content">
<div class="post single post-137 page type-page status-publish hentry no-featured-image">
	<div class="post-header section">	
		<div class="post-header-inner section-inner">
			<h1 class="post-title">Area 4: Empowering students</h1>
		</div>
	</div>				
				<div class="post-content section-inner thin">
					<h1>Browse by topic</h1> 
					<ul> 
						<li><a href="/category/activivity_4.1">Critically evaluate online tools</a></li> 
						<li><a href="/category/activivity_4.2">Discover the cost of "free" commercial social media platforms</a></li> 
						<li><a href="/category/activivity_4.3">Appreciate opportunities and risks of personalization in learning</a></li> 
						<li><a href="/category/activivity_4.4">Check technical accessibility of platforms and resources</a></li> 
				 	</ul> 
</div>	
</div>
</div>
</div>
</div>
{% endblock %}
