{% extends "base.html" %}
{% block content %}
<div class="content">
<div class="post single post-137 page type-page status-publish hentry no-featured-image">
	<div class="post-header section">	
		<div class="post-header-inner section-inner">
			<h1 class="post-title">Area 3: Assesment</h1>
		</div>
	</div>				
				<div class="post-content section-inner thin">
					<h1>Browse by topic</h1> <ul> 
					<li><a href="/categories/44">Explore digitally supported assessment strategies</a></li> 
					<li><a href="/categories/9">Experiment with different technologies for formative assessment</a></li> 
					<li><a href="/categories/16">Analyse evidence on learning activity, performance and progress</a></li> 
					<li><a href="/categories/45">Use digital technologies to provide targeted feedback to learners</a></li> </ul> 
</div>
</div>
</div>
{% endblock %}
