{% extends "base.html" %}
{% block content %}
<div class="content">
<div class="post single post-137 page type-page status-publish hentry no-featured-image">
	<div class="post-header section">	
		<div class="post-header-inner section-inner">
			<h1 class="post-title">Area 2: Teaching</h1>				
		</div>
	</div>
				<div class="post-content section-inner thin">
					<h1>Browse by topic</h1> <ul> 
					<li><a href="/categories/39">Design your own eLearning intervention</a></li> 
					<li><a href="/categories/40">Implement ICT-supported collaborative learning</a></li> 
					<li><a href="/categories/41">Guide and support students through e-moderation</a></li> 
					<li><a href="/categories/42">Foster knowledge co-creation among students</a></li> 
					<li><a href="/categories/43">Create and select video resources for your teaching</a></li> 
					<li><a href="/categories/8">Use games to improve learners engagement</a></li> </ul> 
</div>
</div>
</div>
{% endblock %}
