{% extends "base.html" %}
{% block content %}


<div class="container">

<div class="post-content">

        <h1 class="h1">Blogs</h1>
        <p class="lead">
		{% if session['lang']=='es' %}
                Lista de blogs registrados en la blogosfera EduHack.
        	{% elif session['lang']=='it' %}
                Lista dei blog attualmente presenti nella blogosfera di EduHack.
        	{% else %}
		Here is the growing list of blogs registered in the EduHack blogosphere.
        	{% endif %}
        </p>
</div>

<hr>
<br>


<ul class="list-group">
  {% for link, name in blogs %}
  <li class="list-group-item"><a href="{{ link }}">{{ name }}</a></li>
  {% endfor %}
</ul>
</div>
{% endblock %}
