{% extends "base.html" %}
{% block content %}


<div class="container">

<div class="post-content">

        <h1 class="h1">Blogs</h1>
        <p class="lead">
		{% if session['lang']=='es' %}
                Lista de blogs y plataformas en l&iacute;nea activas en el proyecto EduHack.
        	{% elif session['lang']=='it' %}
                Lista dei blog e delle piattaforme online attivi nel progetto EduHack.
        	{% else %}
		Here is the list of the online platforms and active blogs in the EduHack project.
        	{% endif %}
        </p>
</div>

<hr>
<br>


<ul class="list-group">
  {% for link, name in blogs %}
  <li class="list-group-item"><a href="{{ link }}">{{ name }}</a></li>
  {% endfor %}
</ul>
</div>
{% endblock %}
