{% extends "base.html" %}
{% block content %}
<div class="container-fluid">


<div class="container">
    <div class="row align-items-center">
      <div class="order-md-1 text-center text-md-left pr-md-5">
        <h1 class="h1">Welcome!</h1>
        <p class="lead">
             This is the EduHack Hub that aggregates the content from the <a href="https://wall.eduhack.eu">Wall</a>, the
               <a href="/blogs">Blogosphere </a> and the EduHackathons.
        </p>
      </div>
    </div>
<hr>

  </div>

  <!-- Start of Card Columns Layout --> 
  <div class="card-columns"> 
	  {% for p in posts %}
	   <div class="card"> 
                     {% if p['thumb'] != '' %}
			    <img class="card-img-top img-fluid" src="{{ p['thumb'] }}" /> 
		     {% endif %}
		    <div class="card-body"> 
		     <h4 class="card-title"><a href="{{ p['link'] }}"><b>{{ p['title']| title }}</b></a></h4> 
		     <p class="card-text">by <a href="{{ p['blogurl'] }}">{{ p['author'] }}</a></p>
                     {% if p['tags'].__len__() > 0 %}
                             <p class="card-text">tags:
                             {% for id, name in p['tags'] %}
                                 <a href="/tag/{{ id }}"> {{ name }} </a>
                             {% endfor %}
                             </p>
                     {% endif %}
                     {% if p['categories'].__len__() > 0 %}
                             <p class="card-text">categories:
                             {% for id, name in p['categories'] %}
                                 <a href="/categories/{{ id }}"> {{ name }} </a>
                             {% endfor %}
                             </p>
                     {% endif %}
		    </div> 
	    </div> 
          {% endfor %}
  </div> 
  <!-- End of Card Columns Layout --> 
          {% if index is defined %}
		  {% if index > 0 %}
		  <a class="" href="/{{ index -1 }}"><i class="arrow left"></i> Next posts</a>
		  {% endif %}
		  <a href="/{{ index +1 }}"> Previous posts <i class="arrow right"></i> </a>
          {% endif %}
</div> 
{% endblock %}
