{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <!-- Start of Card Columns Layout --> 
  <div class="card-columns"> 
	  {% for p in posts %}
	   <div class="card"> 
                     {% if p['thumb'] != '' %}
			    <img class="card-img-top img-fluid" src="{{ p['thumb'] }}" /> 
		     {% endif %}
		    <div class="card-body"> 
		     <h4 class="card-title"><a href="{{ p['link'] }}"><b>{{ p['title'] }}</b></a></h4> 
		     <p class="card-text">by <a href="{{ p['blogurl'] }}">{{ p['author'] }}</a></p>
                     {% if p['tags'].__len__() > 0 %}
                             <p class="card-text">tags:
                             {% for id, name in p['tags'] %}
                                 <a href="/tag/{{ id }}"> {{ name }} </a>
                             {% endfor %}
                             </p>
                     {% endif %}
                     {% if p['categories'].__len__() > 0 %}
                             <p class="card-text">categories:
                             {% for id, name in p['categories'] %}
                                 <a href="/categories/{{ id }}"> {{ name }} </a>
                             {% endfor %}
                             </p>
                     {% endif %}
		    </div> 
	    </div> 
          {% endfor %}
  </div> 
  <!-- End of Card Columns Layout --> 
          {% if index is defined %}
		  {% if index > 0 %}
		  <a class="" href="/{{ index -1 }}"><i class="arrow left"></i> Next posts</a>
		  {% endif %}
		  <a href="/{{ index +1 }}"> Previous posts <i class="arrow right"></i> </a>
          {% endif %}
</div> 
{% endblock %}
