{% extends "base.html" %}
{% block content %}

<div class="container">

{% if error != '' %}
<div class="alert alert-danger">
  <strong>Error!</strong> {{ error }}
</div>
{% endif %}
{% if success != '' %}
<div class="alert alert-success">
  {{ success }}
</div>
{% endif %}

<p> Insert either a link or a title of a post that needs to be removed </p>
<form action="remove_title" method="POST" role="form" class="form-horizontal">
  <div class="form-group">
    <label for="link">Post link:</label>
    <input type="link" class="form-control" name="link">
  </div>
  <div class="form-group">
    <label for="title">Post title:</label>
    <input type="title" class="form-control" name="title">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> 
</div> 
{% endblock %}

