
{% extends "base.html" %}
{% block content %}

<style>
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
</style>

<div class="container">
{% if error != '' %}
<div class="alert alert-danger">
  <strong>Error!</strong> {{ error }}
</div>
{% endif %}

    <br/>
        {% if show_search %}
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form action="search" method="POST" role="form" class="form-horizontal">

                                <div class="card-body row no-gutters align-items-center">
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search for tags and categories" name="search">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
           {% endif %}
  <!-- Start of Card Columns Layout -->
  <div class="card-columns">
          {% for p in posts %}
           <div class="card bg-light">
                     {% if p['thumb'] != '' %}
                           <a href="{{ p['link'] }}"><img class="card-img-top img-fluid" src="{{ p['thumb'] }}" /></a>
                     {% endif %}
                    <div class="card-body">
                      <h2 class="card-title"><a target="_blank" rel="noopener noreferrer" href="{{ p['link'] }}"><b>{{ p['title']|title }}</b></a></h2>
                      <h4 class="card-subtitle text-muted mb-3">by <a target="_blank" rel="noopener noreferrer" href="{{ p['blogurl'] }}">{{ p['author'] }}</a></h4>
                     {% if p['tags'].__len__() > 0 %}
                             <p class="card-text text-muted">tags:
                             {% for id, name in p['tags'] %}
                                   <a class="btn btn-info" href="/tag/{{ id }}"> {{ name }} </a>
                             {% endfor %}
                             </p>
                     {% endif %}
                     {% if p['categories'].__len__() > 0 %}
                             <p class="card-text text-muted">categories:
                             {% for id, name in p['categories'] %}
                                 <a class="btn btn-info" href="/categories/{{ id }}"> {{ name }} </a>
                             {% endfor %}
                             </p>
                     {% endif %}
                    </div>
            </div>
          {% endfor %}
  </div>
  <!-- End of Card Columns Layout -->


</div>

{% endblock %}
