{% extends "base.html" %}
{% block content %}

<div class="container">

{% if error != '' %}
<div class="alert alert-danger">
  <strong>Error!</strong> {{ error }}
</div>
{% endif %}
{% if success != '' %}
<div class="alert alert-success">
  {{ success }}
</div>
{% endif %}


<div class="post-content">

        <h1 class="h1">Submit</h1>
	<p class="lead">
		{% if session['lang']=='es' %}
                Si tu blog no forma parte de la blogosfera de EduHack pero te gustar&iacute;a compartir tus publicaciones, necesitaremos que completes los datos de este formulario.
        	{% elif session['lang']=='it' %}
                Se il tuo blog non &egrave; parte della blogosfera di EduHack ma hai comunque piacere di condividere i tuoi post, possiamo aggregarli solo se ci fornisci le informazioni contenute in questo form.
        	{% else %}
		If your blog is not part of the EduHack blogosphere, but you would like to share your posts, we can only aggregate your EduHack related content if you give access to your posts by filling in this form.
        	{% endif %}
	</p>
</div>

<hr>
<br>


<form action="submit" method="POST" role="form" class="form-horizontal">
  <div class="form-group">
    <label for="author">Author name:</label>
    <input type="author" class="form-control" name="author">
  </div>
  <div class="form-group">
    <label for="link">Link to your post:</label>
    <input name="link" type="link" class="form-control">
  </div>
  <div class="form-group">
    <label for="link">Link to your blog:</label>
    <input name="blogurl" type="link" class="form-control">
  </div>
  <div class="form-group">
    <label for="link">Link to post image:</label>
    <input name="thumb" type="thumb" class="form-control">
  </div>
  <div class="form-group">
    <label for="title">Title:</label>
    <input name="title" type="title" class="form-control">
  </div>
  <!--
  /*TEMPORARLY HIDDEN*/
  <div class="form-group">
    <label for="categories">Categories (comma divided):</label>
    <input name="categories" type="categories" class="form-control">
  </div>
  -->
  <div class="form-group">
    <label for="tags">Tags (comma divided):</label>
    <input name="tags" type="tags" class="form-control">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> 
</div> 
{% endblock %}

